<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.iqiuqiu.mapper.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="me.iqiuqiu.mapper.model.entity.Admin">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="is_disable" jdbcType="BIT" property="isDisable" />
    <result column="login_times" jdbcType="INTEGER" property="loginTimes" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>

  <select id="getAdminByUsername" resultType="me.iqiuqiu.mapper.model.entity.Admin">
    SELECT * FROM `admin` WHERE `username`=#{username}
  </select>
  <select id="getUser" resultType="me.iqiuqiu.mapper.model.entity.Admin">
        SELECT * FROM
            `admin`
        WHERE username = #{username}
          AND password = #{password}
  </select>
</mapper>