<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.iqiuqiu.mapper.mapper.BrandMapper">
  <resultMap id="BaseResultMap" type="me.iqiuqiu.mapper.model.entity.Brand">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="is_disable" jdbcType="TINYINT" property="isDisable" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
</mapper>